@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--color-black-clear: #1B1E1F;
	--color-black-max-clear: #1F2223;
	--color-blue-clear: #68E1FD;
	--color-blue: #24A2D5;
	--color-yellow: #F2B138;
	--color-red: #DE0A0A;	
	--color-blue-vanage: #2C6A7E;
	--color-green: #40da3d;
	--color-white: #ffffff;
}

*,
html,
#root {
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	background-color: var(--color-black-clear);
	color: var(--color-white);
}

/* load da pagina  */

.load {
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	
	position: fixed;
}

.load 
.cub {
	width: 30px;

	display: grid;
	grid-gap: 5px;
	grid-template-areas: "camp1 camp2"
						 "camp3 camp4";
}

.load 
.cub div {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background-color: var(--color-black-max-clear);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.load 
.cub div:nth-child(1) {
	animation-name: primary;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.load 
.cub div:nth-child(2) {
	animation-name: secundary;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.load 
.cub div:nth-child(3) {
	animation-name: tercy;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.load 
.cub div:nth-child(4) {
	animation-name: quart;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes primary {
	0% {
		background-color: var(--color-blue-clear);
	}

	20% {
		background-color: var(--color-black-max-clear);
	}
}

@keyframes secundary {
	0% {
		background-color: var(--color-blue-clear);
	}

	40% {
		background-color: var(--color-black-max-clear);
	}
}

@keyframes tercy {
	0% {
		background-color: var(--color-blue-clear);
	}

	80% {
		background-color: var(--color-black-max-clear);
	}
}

@keyframes quart {
	0% {
		background-color: var(--color-blue-clear);
	}

	100% {
		background-color: var(--color-black-max-clear);
	}
}

/* Card de info  */

.info {
	width: 400px;
	height: auto;
	padding: 15px;
	background-color: var(--color-black-max-clear);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 10px;

	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	left: 10px;
	top: 15px;
}


.info 
div {
	position: relative;
	width: 100%;
}

.info 
div 
button {
	z-index: 1000;
	position: absolute;
	right: 0px;
	border: none;
	background-color: transparent;
}

.info 
div 
button i {
	color: var(--color-white);
	font-size: 1.2rem;
}

.info 
div
div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 20px;
}

.info 
div 
div h3 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	margin-top: 20px;
}

.info 
div 
div 
h3 div {
	width: 30px;
	height: 30px;
	background-color: var(--color-blue-clear);

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 100px;

	margin-right: 10px;
	margin-left: 0;
}

.info 
div 
div 
h3 div i {
	color: var(--color-black-max-clear);	
}

.info 
div 
div 
p {
	font-weight: 400;
	margin-top: 0;
}

/* Sobre mim */
.abaut {
	margin: auto 15%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.abaut
.abaut_description {
	width: 400px;
}

.abaut
.abaut_description h2 {
	font-size: 2.5rem;
	font-weight: 900;
}

.abaut
.abaut_description p {
	width: 400px;
	font-size: 1.2rem;
	font-weight: 300;
	margin-top: 30px;
}

.btn-primary {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	font-size: 2rem;


	margin-top: 30px;
	width: 200px;
	height: 55px;
	border: none;
	border-radius: 10px;
	background-color: transparent;

	color: var(--color-blue-clear);
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;

	cursor: pointer;
}

.btn-primary 
.icon {
	margin-left: 20px;	
	background-color: var(--color-blue-clear);
	border-radius: 100%;	
	padding: 10px;

	width: 50px;
	height: 50px;
	color: var(--color-black-clear);
	font-size: 2rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.abaut
.card_abaut {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-top: 30px;
}

.abaut
.card_abaut 
.card_description {
	position: relative;
	width: 250px;
	height: auto;
	border-radius: 20px;
	
	padding-bottom: 10px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	color: var(--color-white);
}

.abaut
.card_abaut
.card_description img {
	width: 250px;
	height: 250px;
	object-fit: cover;

	border-radius: 10%;
}

.abaut
.card_abaut
.card_description h1 {
	font-size: 1.5rem;
	font-weight: 800;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 3px;

	position: absolute;
	top: 57%;
}

.abaut
.card_abaut
.card_description span {
	font-size: 16px;
	font-weight: 900;
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	padding-bottom: 20px;

	position:  absolute;
	top: 78%;
}

.abaut
.card_abaut button {
	width: 100%;
	margin-top: 14px;
	padding: 15px;
	border: none;
	border-radius: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	
	font-weight: bold;
	cursor: pointer;
	transition: .3s ease-in-out;
	

	border: 1px solid var(--color-black-max-clear);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);

	background-color: var(--color-black-max-clear);
	color: var(--color-white);
}

.abaut
.card_abaut button:hover {
	background-color: var(--color-blue-clear);
	color: var(--color-black-clear);	
}

.abaut
.card_abaut button i {
	padding-left: 10px;

}

/* redes sociais */

.abaut
.card_abaut
.sociais {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.abaut
.card_abaut
.sociais
.box {
	width: 60px;
	height: 60px;
	border-radius: 10px;
	background-color: var(--color-black-max-clear);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);

	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: 10px;
}

.abaut
.card_abaut
.sociais
.box i {
	font-size: 2rem;
	color: var(--color-blue-clear);
}

/* Minhas skills */
.container {
	display: flex;
	justify-content: center;
}

.lenguages {
	width: 40%;

	margin-top: 100px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: center;
	align-items: center;

}

.lenguages 
.card {
	width: 157px;
	height: 167px;
	border-radius: 20px;
	border: 1px solid var(--color-black-max-clear);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 10px;

	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
	background-color: var(--color-black-max-clear);
}

.lenguages 
.card
.card_icon {
	width: 65px;
	height: 65px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	margin-top: 14px;
	background-color: var(--color-yellow);
}

.lenguages 
.card
.card_icon i {
	font-size: 2.5rem;
	color: var(--color-black-max-clear) !important;
}

.lenguages 
.card
.card_name {
	font-size: 18px;
	font-weight: 500;
}

@media screen and (max-width: 500px) {
	.info {
		width: 90%;
	}

	.abaut {
		margin: 10%;
		align-items: center;
		flex-direction: column;
	}

	.abaut 
	.abaut_description {
		margin-top: 150px;
		width: 100%
	}

	.abaut 
	.abaut_description h2 {
		margin-top: 0;
		font-size: 1.8rem;
	}

	.abaut 
	.abaut_description p {
		width: 100%;
	}

	/* Card Skills  */

	.lenguages 
	.card {
		width: 40%;
		height: 167px;
	}

	.lenguages {
		width: 100%;
	}
}
