@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--color-black: #1B1E1F;
	--color-blue-clear: #11E4BC;
	--color-white: #fff;
}

*,
html,
#root {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	background-color: var(--color-black);
	color: var(--color-white);
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
}

.gradient-button {
	width: 192px;
	height: 56px;

	margin-top: 60px;
	border: 1px solid var(--color-white);
	background-color: transparent;

	font-size: 1.2rem;
	color: var(--color-white);
	position: relative;
}

.gradient-button:before {
	content: '';
	position: absolute;

	top: -1px;
	left: 0;

	width: 200px;
	height: 55px;
	border: 1px solid white;
}

.container {
	margin: auto 8%;
}

/* Navegation */

nav {
	position: fixed;
	

	width: 100%;

	padding-top: 30px;
	padding-bottom: 20px;
	z-index: 1000;

	background-color: transparent;
}

nav div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

nav .menu ul {
	display: flex;
	flex-direction: row;
	list-style: none;

}

nav .menu ul li {
	position: relative;

	margin-left: 70px;
}

nav .menu ul .active:before {
	position: absolute;
	content: '';

	/*background: linear-gradient(180deg, #11E4BC -0.35%, rgba(17, 228, 188, 0) 118.4%);*/
	width: 5px;
	height: 50px;
	z-index: -1;

	top: -58px;
	left: -30px;
}

nav .menu ul .active a {
	font-weight: bold;
}

nav .menu ul li a {
	text-decoration: none;
	color: var(--color-white);
}

/* Banner */
.banner {
	background-image: url(./images/image-banner2.png);
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
}

.banner .content {
	display: flex;
	flex-direction: column;
	margin-left: -250px;
}

.banner .content h3 {
	font-size: 4rem;
}

.banner .content h3:nth-child(3) {
	color: var(--color-blue-clear);
}

/* abaut  */

.abaut {
	margin-top: 120px;

	display: flex;
	flex-wrap: wrap;

	justify-content: space-between;
	align-items: center;
}

.abaut .image img {
	width: 500px;
	height: 400px;
	object-fit: cover;

	border-radius: 10px;
}

.abaut .content h2 {
	font-size: 4rem;
	margin-bottom: 30px;
	margin-top: 30px;
}

.abaut .content p {
	margin-bottom: 30px;
	margin-top: 30px;

	width: 450px;
	font-weight: 300;
}

/* Tecnologias */
.tecnologias {
	margin-top: 150px;
	flex-direction: column;

	align-items: center;
}

.tecnologias .title {
	margin-bottom: 30px;
	font-size: 4rem;
	text-align: center;
}

/* portifolio  */
.portifolio {
	margin-top: 150px;

	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
}

.portifolio .title {
	font-size: 4rem;
	text-align: center;
	margin-bottom: 30px;
}

.portifolio .content {
	margin-top: 60px;
}

.portifolio .content .card {
	width: 300px;
	text-align: center;
}

.portifolio .content .card .image img {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 20px;
}

.portifolio .content .card a {
	font-size: 1.2rem;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	color: var(--color-white);
}


@media screen and (max-width: 500px) {
	.container {
		margin: auto 15%;
	}

	.gradient-button {
		display: block;
	}

	nav .menu {
		display: none;
	}

	.banner .content {
		margin-top: -120px
	}

	.banner .content h3 {
		font-size: 2.5rem;
	}

	.banner .content h3:nth-child(3) {
		font-size: 2rem;
	}

	.abaut {
		margin-top: -120px;
		margin-bottom: 100px;
	}

	.abaut .image img {
		width: 100%;
		height: 250px;
	}

	.abaut .content {
		margin-top: 60px;
	} 

	.abaut .content span {
		font-size: 1rem;
	}

	.abaut .content h2 {
		margin-bottom: -10px !important;	
		margin-top: 10px;
		font-size: 2.5rem;
	}

	.abaut .content p {
		font-size: 1rem;
		width: 100%;
	}

	.tecnologias {
		margin-bottom: 120px;
	}

	.tecnologias .title {
		font-size: 2.5rem;
	}

	.portifolio .title {
		font-size: 2.5rem;
	}

	.portifolio .content .card {
		width: 100%;
	}
}